<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="interoperability-for-money.ZPM">
    <Module>
      <Name>interoperability-for-money</Name>
      <Description>IRIS interoperability application</Description>
      <Version>0.0.2</Version>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>production-manager</Name>
          <Version>1.0.7</Version>
        </ModuleReference>
      </Dependencies>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Ens.Config.DefaultSettings.ESD"/>
      <Resource Name="TestLookupTable.LUT"/>
      <Resource Name="Oliver.PKG"/>
      <SystemRequirements Version=">=2020.1" Interoperability="enabled" />
      <Default Name="dbrole" Value="%DB_IRISAPP" /> 
      <CSPApplication 
        Url="/prodmgr"
        Recurse="1"
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="0"
        DispatchClass="RestProduction.REST"
        ServeFiles="1"
        CookiePath="/production"
        UseCookies="2"
      />
    </Module>
  </Document>
</Export>
